<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% from 'bootstrap5/form.html' import render_form %}
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    {% block title %}
        <title>My shop</title>
    {% endblock %}
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #DC143C;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">My Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Главная</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Категории
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('main.show_all_products',id_category=1) }}">мужчины</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_all_products',id_category=2) }}">женщины</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_all_products',id_category=3) }}">мальчики</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_all_products',id_category=4) }}">девочки</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_all_products',id_category=6) }}">все</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
          {% if current_user.is_authenticated and current_user.confirmed %}
            <a type="button" class="btn btn-dark mx-2 btn-md h2-font-size" style="font-size:20px" href="{{ url_for('main.showProfile') }}" style="width:200px">Личный кабинет</a>
            <a class = 'btn' href="{{ url_for('auth.logout') }}">
              <svg xmlns="http://www.w3.org/2000/svg" width=40" height="40" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15zM11 2h.5a.5.5 0 0 1 .5.5V15h-1zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
              </svg>
               </a>
        {% else %}
              <a class = 'btn' href="{{ url_for('auth.login') }}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                    </svg>
                </a>


        {% endif %}

      </form>
    </div>
  </div>
</nav>
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block footer %}
<footer class="text-center text-lg-start bg-body-dark text-muted pt-3" style="background: #FFE6EB">
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4 col-xs-12 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>О нас
          </h6>
          <p>
           My shop - это бренд, созданный людьми для людей. Основанный в 2020 году, мы превратились в глобальную торговую марку с более чем 45 магазинами и 900 сотрудниками, которые помогают нам рассказывать нашу историю. Черпая вдохновение из жизни и потребностей людей, мы стремимся найти идеальную обувь, которую Вы будете носить долгие годы!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-xs-6 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Категории
          </h6>
            <p><a href="{{ url_for('main.show_all_products',id_category=1) }}" class="text-decoration-none" style="color:#212529BF">мужчины</a></p>
            <p><a href="{{ url_for('main.show_all_products',id_category=2) }}" class="text-decoration-none" style="color:#212529BF">женщины</a></p>
            <p><a href="{{ url_for('main.show_all_products',id_category=4) }}" class="text-decoration-none" style="color:#212529BF">мальчики</a></p>
            <p><a href="{{ url_for('main.show_all_products',id_category=3) }}" class="text-decoration-none" style="color:#212529BF">девочки</a></p>
            <p><a href="{{ url_for('main.show_all_products',id_category=6) }}" class="text-decoration-none" style="color:#212529BF">все</a></p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-2 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
          <p><i class="fas fa-home me-3"></i> Москва, ул. Тверская, 21 </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            myshop@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 7 987 654 32 10</p>
          <p><i class="fas fa-print me-3"></i> + 7 123 456 78 90 </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
</body>
</html>